<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fyle Assignment</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="first">
        <div class="first-text">
            <div class="inner">
                <div class="text-1">AWARD WINNING</div>
                <h1>DIGITAL MARKETING AGENCY</h1>
                <p>Morbi sed lacus nec risus finibus feugiat et fermentum nibh.
                    Pellentesque vitae ante at elit fringilla ac at purus, Morbi sed lacus nec risus finibus feugiat et
                    fermentum
                </p>
                <button ><a href="/login">CONTACT US</a> </button>
            </div>
        </div>
        <div class="first-img">
            <img src="/img/hero.png" alt="Fyle-1">
        </div>
    </div>


    <section class="services">
        <div class="rd">
            WHAT WE DO
        </div>
        <div class="dem">
            <div class="dem-1">
                <h1>SERVICE PROVIDE FOR YOU</h1>
            </div>
            <div class="dem-2">
                <p>Morbi sed lacus nec risus finibus feugiat et fermentum nibh. Pellentesque vitae ante at elit fringilla ac at purus, Morbi sed lacus nec risus finibus feugiat et fermentum</p>
            </div>   
        
        </div>
        <div class="slider">
            <div class="slide"><img src="/img/2@2x.png" alt="Image 1"></div>
            <div class="slide"><img src="/img/3@2x.png" alt="Image 2"></div>
            <div class="slide">
                <img src="/img/1@2x.png" alt="Image 3">
                <div class="hover-content">
                    <div class="web-development">
                        <h4>WEB DEVELOPMENT</h4>
                        <p>Some description here...</p>
                        <a href="https://fylehq.com" target="_blank">Read More</a>
                    </div>
                </div>
            </div>
            <div class="slide"><img src="/img/2@2x.png" alt="Image 1"></div>
            <div class="slide"><img src="/img/3@2x.png" alt="Image 2"></div>
            <div class="slide"><img src="/img/2@2x.png" alt="Image 1"></div>
            
        </div>
        <div class="dots">
            <img class="dot" src="/svg/dot/1.svg" alt="">
            <img class="dot" src="/svg/dot/2.svg" alt="">
            <img class="dot" src="/svg/dot/3.svg" alt="">
            <img class="dot" src="/svg/dot/3.svg" alt="">
        </div>
    </section>

    <div class="sec-2.2">
        <div class="ourhed">
            WHY CHOOSE US
        </div>
        <h1 class="thrd-h1">
            WHY WE ARE BEST
        </h1>
        <div class="box-4">
            <div class="box">
                <img src="/svg/1.svg" alt="">
                <h4>Clarified Vision & Target</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam noumy</p>
            </div>
            <div class="box">
                <img src="/svg/2.svg" alt="">
                <h4>Clarified Vision & Target</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam noumy</p>
            </div>
            <div class="box">
                <img src="/svg/3.svg" alt="">
                <h4>Clarified Vision & Target</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam noumy</p>
            </div>
            <div class="box">
                <img src="/svg/4.svg" alt="">
                <h4>Clarified Vision & Target</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed diam noumy</p>
            </div>
        </div>
        
    </div>


    <div class="third">
        <div class="ourhed">
            OUR PROJECT
        </div>
        <h1 class="thrd-h1">
            WHY WE ARE BEST
        </h1>
        <div class="sec-2">
            <div class="sec-img">
                <img src="/img/image@2x.png" alt="" id="main-img">
            </div>
            <div class="sec-cont">
                <div class="cont-1" onclick="changeImage('/img/pp.jpg',this)" type="button">
                    <h3>Gendereless kei - Japan's Hot</h3>
                    <p>Set to launch on the manufacturer's new A330neo aircraft in 2017, it's
                        offering lots of
                    </p>
                </div>
                <div class="cont-1 active1" onclick="changeImage('/img/image@2x.png',this)" type="button">
                    <h3>Better Strategy & Quality</h3>
                    <p>Set to launch on the manufacturer's new A330neo aircraft in 2017, it's
                        offering lots of
                    </p>
                </div>
                <div class="cont-1" onclick="changeImage('/img/pp2.jpg',this)" type="button">
                    <h3>Gendereless kei - Japan's Hot</h3>
                    <p>Set to launch on the manufacturer's new A330neo aircraft in 2017, it's
                        offering lots of
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="fourth">
        <div class="ourhed hd">
            EXPERTS GROWTS
        </div>
        <h1 class="thrd-h1">
            OUR COMPANY GROWTH
        </h1>
        <div class="card-4">
            <div class="card">
                <img src="/svg/heart(2).svg" alt="">
                <h2>199 +</h2>
                <p>Staticfied Customers</p>
            </div>
            <div class="card">
                <img src="/svg/clock (3).svg" alt="">
                <h2>1591+</h2>
                <p>Days of Operation</p>
            </div>
            <div class="card">
                <img src="/svg/Path 4402.svg" alt="">
                <h2>283 +</h2>
                <p>Company Project</p>
            </div>
            <div class="card">
                <img src="/svg/Path 4406.svg" alt="">
                <h2>75+</h2>
                <p>Win Awards</p>
            </div>
        </div>
    </div>
    <div class="fifth">
        <div class="ourhed">
            CLIENT's FEEDBACK
        </div>
        <h1 class="thrd-h1">
            PEOPLE SAY'S ABOUT US !
        </h1>
        <!-- <img src="/Quotemarks-left.svg" alt="" class="quots"> -->
        <p class="fif-p">Jannat Tumpa The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections Bonorum et Malorum original.</p>
        <p class="fif-p"><span>JANNAT THUMPA</span><span style="color: grey; font-weight: 300;">- COO, AMERIMAR ENTERPRISES, INC.</span></p>
    </div>
    <footer>
        <img src="/svg/Group 500@2x.png" alt="">
    </footer>
</body>

<script>
    function changeImage(imagesrc,element){
        document.getElementById('main-img').src=imagesrc;
        let op=document.querySelectorAll('.cont-1');
        op.forEach(opt => opt.classList.remove('active1'));
        element.classList.add('active1');
    }

    document.addEventListener('DOMContentLoaded', () => {
    const dots = document.querySelectorAll('.dot');
    const slider = document.querySelector('.slider');

    function updateDots(activeIndex) {
        dots.forEach((dot, index) => {
            if (index === activeIndex) {
                dot.src = "/svg/dot/1.svg";
            } else {
                dot.src = "/svg/dot/2.svg";
            }
        });
    }

    dots.forEach((dot, index) => {
        dot.addEventListener('click', () => {
            const slideWidth = document.querySelector('.slide').offsetWidth + parseFloat(getComputedStyle(slider).gap);
            slider.scrollTo({
                left: slideWidth * index,
                behavior: 'smooth'
            });
            updateDots(index);
        });
    });
    updateDots(0);
});




</script>

</html>